<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consulta Preço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Insira o código de barras"
    (ionChange)="doSearchBarChange($event)"
    animated
    inputmode="numeric"
    type="tel">
  </ion-searchbar>

  <ion-card color="danger">
    <ion-card-content>
      <ion-label></ion-label>
      <ion-text>APLICATIVO VERSÃO BETA</ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        <ion-text color="dark">
          {{produto.nome}}
        </ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
      <ion-list lines="">
        <ion-item color="tertiary">
          <h2>
            <ion-text>Cód.Barras: {{produto.codbarras}}</ion-text>
          </h2>
        </ion-item>

        <ion-item color="warning"> 
          <h2>
            <ion-text>Código: {{produto.id}}</ion-text>
          </h2>
        </ion-item>

        <ion-item color="success">          
          <h1>
            <ion-text>Preço Venda: R$ {{produto.precoVenda}}</ion-text>
          </h1>         
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="readBarcode()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
