<ion-header>
  <ion-toolbar color="primary">

    <ion-item color="primary" lines="none">
      <!-- <ion-img src="../../assets/icon/icone32.png"></ion-img> -->
      <ion-title>CONSULTA PRECO</ion-title>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content color="light" fullscreen="true">

  <!-- <ion-searchbar placeholder="Insira o código de barras"
    (ionChange)="doSearchBarChange($event)"
    animated
    inputmode="numeric"
    type="tel">
  </ion-searchbar> -->

  <ion-card color="">
    <ion-card-content>

      <ion-item lines="">
        <ion-input type="tel"
        placeholder="Código de barras"
        autofocus="true"
        inputmode="tel"
        maxlength="13"
        minlength="2"
        clearInput="true"
        [(ngModel)]="barcode">
      </ion-input>

      <ion-button size="large" (click)="clickBusca()">
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-button>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <!-- CARD PRODUTO -->
  <ion-card *ngIf="visivel">
    <ion-card-header>
      <ion-card-subtitle>Descrição</ion-card-subtitle>
      <ion-card-title>
        <ion-text color="dark">
          {{produto.nome}}
        </ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list lines="">
        <ion-item color="">
          <h2>
            <ion-text>Cód.Barras: {{produto.codbarras}}</ion-text>
          </h2>
        </ion-item>

        <ion-item color="">
          <h2>
            <ion-text>Código: {{produto.id}}</ion-text>
          </h2>
        </ion-item>

        <ion-item color="">
          <h1>
            <ion-text>Preço Venda: R$ {{produto.preco_venda}}</ion-text>
          </h1>
        </ion-item>

        <ion-button color="medium" expand="block" (click)="solicitarEtiqueta()">
          Solicitar Etiqueta
        </ion-button>

      </ion-list>

    </ion-card-content>
  </ion-card>

  <!-- MARCA -->
  <br>
  <div class="centro" *ngIf="marcaVisivel">
    <ion-label>
      <ion-text color="primary">
        <h1>consultapreço</h1>
      </ion-text>
    </ion-label>
  </div>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="readBarcode()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
