<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consulta Preço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-label color="danger">Aplicativo em Teste</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        <ion-text color="dark">
          BEB.ENERG.MONSTER DRAGON ICE 473ML
        </ion-text>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      
      <ion-list lines="">
        <ion-item color="tertiary">
          <h2>
            <ion-text>Cód.Barras: 070847034803</ion-text>
          </h2>
        </ion-item>

        <ion-item color="warning"> 
          <h2>
            <ion-text>Código: 99999</ion-text>
          </h2>
        </ion-item>

        <ion-item color="success">          
          <h1>
            <ion-text>Preço Venda: R$ 5,59</ion-text>
          </h1>         
        </ion-item>
      </ion-list>

    </ion-card-content>
  </ion-card>

  <!-- <ion-list lines="">

    <ion-item button="">
      <ion-label>
        <h2>
          <p>
            BEB.ENERG.MONSTER DRAGON ICE 473ML
          </p>
        </h2>
        <ion-label>
          <h3>Cód.Barras: 070847034803</h3>
          <h3>Código: 45724</h3>
        </ion-label>
      </ion-label>

      <ion-label slot="end">
        <ion-note slot="end" color="tertiary">R$ 5,59</ion-note>
      </ion-label>
    </ion-item>

  </ion-list> -->


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="readBarcode()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
