<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <ion-img src="../../assets/icon/icone32.png"></ion-img>
      <ion-title>Sobre</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Importar</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>

  <!-- SOBRE -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sobre</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <ion-text color="dark">
          <h3>2022 &copy; WILLIAN</h3>
        </ion-text>
      </ion-label>
    </ion-card-content>
  </ion-card>

</ion-content>
