<ion-header>
  <ion-toolbar color="primary">
    <ion-item color="primary" lines="none">
      <!-- <ion-img src="../../assets/icon/icone32.png"></ion-img> -->
      <ion-title>ConsultaPreço</ion-title>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Dados do Aplicativo</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="limparBase()">
        Zerar banco de dados
      </ion-button>

      <ion-button expand="block" (click)="loadProdutos()">
        Carregar produtos
      </ion-button>

      <!-- <input
        type="file"
        class="file-upload"
        id="input"
        (change)="onFileSelected($event)"
        onchange="console.log(event.target.files)"
      /> -->
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <input type="file" (change)="uploadFile($event.target.files)">
    </ion-card-content>
  </ion-card>

  <!-- SOBRE -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sobre</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label>
        <ion-text color="dark">
          <h2>2022 &copy; WILLIAN</h2>
          <h3>Consulta Preço</h3>
          <h3>Versão 1.0 BETA</h3>
        </ion-text>
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card color="danger">
    <ion-card-content>
      <ion-label></ion-label>
      <ion-text>APLICATIVO VERSÃO BETA</ion-text>
    </ion-card-content>
  </ion-card>

  <!-- MARCA -->
  <br />
  <div class="centro">
    <ion-label>
      <ion-text color="primary">
        <h1>consultapreço</h1>
      </ion-text>
    </ion-label>
  </div>
</ion-content>
