<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <!-- importacao de dados -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Importar Dados</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <input type="file" (change)="uploadFile($event.target.files)">
        </ion-item>
      </ion-list>
      <ion-button expand="block" (click)="loadFileJson()">
        Iniciar importação
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- exportacao de dados -->
  <ion-card *ngIf="false">
    <ion-card-header>
      <ion-card-title>Exportar Dados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label>Em Desenvolvimento</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Configurações</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="limparBancoDeDados()">
        Zerar banco de dados
      </ion-button>
      <ion-button expand="block" (click)="limparTabelas()">
        Limpar tabelas
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- SOBRE -->
  <app-sobre></app-sobre>

  <!-- MARCA -->
  <br />
  <div class="centro">
    <app-marca></app-marca>
  </div>
</ion-content>
