<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Consulta Preço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar></ion-searchbar>

  <ion-card>
    <ion-card-content>
      <ion-label color="danger">Aplicativo em Teste</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-list lines="">

    <ion-item button="">
      <ion-label>
        <h2>
          <p>
            BEB.ENERG.MONSTER DRAGON ICE 473ML
          </p>
        </h2>
        <h3>070847034803</h3>
      </ion-label>

      <ion-label slot="end">
        <ion-note slot="end" color="tertiary">R$ 5,59</ion-note>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>
          <p>
            BEB.ENERG.RED BULL 250ML
          </p>
        </h2>
        <h3>7891991010580</h3>
      </ion-label>

      <ion-label slot="end">
        <ion-note slot="end" color="tertiary">R$ 4,49</ion-note>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>
          <p>
            BEB.LAC.TIROL FRUTIROL FRUTAS 830GR
          </p>
        </h2>
        <h3>7896256603194</h3>
      </ion-label>

      <ion-label slot="end">
        <ion-note slot="end" color="tertiary">R$ 5,99</ion-note>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
