<ion-card>
  <ion-card-header>
    <ion-card-title>Sobre</ion-card-title>
  </ion-card-header>
  <ion-card-content>

    <ion-card color="danger">
      <ion-card-content>
        <ion-label></ion-label>
        <ion-text>APLICATIVO VERSÃO BETA</ion-text>
      </ion-card-content>
    </ion-card>

    <ion-label>
      <ion-text color="dark">
        <h3>Consulta Preço</h3>
        <h3>Versão 1.0 BETA</h3>
        <h2>WILLIAN 2022</h2>
      </ion-text>
    </ion-label>
  </ion-card-content>
</ion-card>
